*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    z-index: 3;
    width: 99.2vw;
    background-image: url(./SRC/image/Atividade\ 12\ -\ escola\ 2\ blur.png);
    background-repeat: no-repeat;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.219);
}

header
{
    color: white;
    background-color: rgb(35, 35, 199);
    padding: 10px;
    font-family: sans-serif;
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: rgb(77, 77, 248) solid 2px;
    box-shadow: 0px 10px 6px rgb(29, 29, 29);
    z-index: 1;
}

.logo
{
    height: 40px;
    padding: 1px;
    position: fixed;
    top: 5px;
    margin-left: 1800px;
}

nav li
{
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.inicio
{
    height: 1000px;
    background-repeat: no-repeat;
    bottom: 100px;
}

.inicio p
{
    position: absolute;
    bottom: 200px;
    left: 80px;
    border-radius: 20px;
    font-size: 80px;
    color: white;
    padding: 10px 30px;
    background-color: rgb(58, 40, 156);
    font-family: 'Anton';
}

.placa
{
    position: absolute;
    right: 1002px;
    width: 800px;
    top: 10px;
    
}

.estudante
{  
    position: absolute;
    right: 100px;
    width: 705px;
    top: 200px;
    left: 1200px;
}

.meio
{
    background-color: rgb(58, 70, 235);
    background: linear-gradient(45deg, #000a54 , rgb(58, 70, 235) );
    height: 1000px;
    z-index: 2;
}

.meio h1
{
    color: white;
    padding: 30px 20px;
    
    font-family: sans-serif;
    font-size: 40px;
    background-color: #010e6e;
}

.bloco1
{
    position: absolute;
    width: 300px;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(222, 222, 255);
    left: 10%;
    top: 1140px;
    border-radius: 10px;
    font-family: sans-serif;
    border: 5px solid rgb(19, 18, 18);
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

.bloco2
{
    position: absolute;
    width: 300px;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(222, 222, 255);
    left: 41%;
    top: 1140px;
    border-radius: 10px;
    font-family: sans-serif;
    border: 5px solid rgb(19, 18, 18);
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

.bloco3
{
    position: absolute;
    width: 300px;
    padding: 10px;
    height: 200px;
    box-sizing: border-box;
    background-color: rgb(222, 222, 255);
    left:  72%;
    top: 1140px;
    border-radius: 10px;
    font-family: sans-serif;
    border: 5px solid rgb(19, 18, 18);
    box-shadow: 5px 5px 10px rgb(15, 15, 15);
}

footer
{
    text-align: center;
    padding: 40px;
    background-color: rgb(35, 35, 88);
    color: white;
    font-family: sans-serif;
    width: 99.2vw;
    height: 10px;
   position: absolute;
   top: 2000px;
}