*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(58, 70, 235);
    z-index: 2;
    width: 99.2vw;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.219);
}

header
{
    color: white;
    background-color: rgb(35, 35, 199);
    padding: 10px;
    font-family: sans-serif;
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: rgb(77, 77, 248) solid 2px;
    box-shadow: 0px 10px 6px rgb(29, 29, 29);
    z-index: 1;
}

.logo
{
    height: 40px;
    padding: 1px;
    position: fixed;
    top: 5px;
    margin-left: 1800px;
}

nav li
{
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.inicio
{
    background-image: url(./SRC/image/Atividade\ 12\ -\ escola\ 2\ blur.png);
    height: 1000px;
    background-repeat: no-repeat;
    bottom: 100px;
}

.inicio p
{
    position: absolute;
    bottom: 200px;
    left: 40px;
    font-size: 80px;
    color: black;
    border: solid black 5px;
    border-radius: 20px;
    background-color: white;
    font-family: sans-serif;
}

.placa
{
    position: absolute;
    right: 1002px;
    width: 800px;
    top: 10px;
    
}

.estudante
{  
    position: absolute;
    right: 100px;
    width: 705px;
    top: 200px;
    left: 1200px;

}

