*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(58, 70, 235);
    background: linear-gradient(45deg, #000a54 , rgb(58, 70, 235) );
    z-index: 2;
}

a
{
    text-decoration: none;
    color: white;
}

a:hover
{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.219);
}

header
{
    color: white;
    background-color: rgb(35, 35, 199);
    padding: 10px;
    font-family: sans-serif;
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
    border-bottom: rgb(77, 77, 248) solid 2px;
    box-shadow: 0px 10px 6px rgb(29, 29, 29);
    z-index: 1;
}

.logo
{
    height: 40px;
    padding: 1px;
    position: fixed;
    top: 5px;
    margin-left: 1800px;
}

nav li
{
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 25px;
}

.apresentacao h1
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.apresentacao
{
    position: relative;
    color: white;
    font-family: sans-serif;
    width: 1000px;
    font-size: 25px;
    padding: 100px 30px;
    height: 1000px;
}

.logo2
{
    position: absolute;
    bottom: 340px;
    padding: 100px;
    height: 600px;
    margin-left: 1000px;
}

.apresentacao2
{
    position: absolute;
    top: 700px;
    background-color: rgb(238, 238, 238);
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    width: 99.2vw;
    font-size: 23px;
    padding: 100px;
    height: 1000px;
}

.apresentacao2 p 
{
    position: absolute;
    right: 150px;
    top: 190px;
    margin-left: 990px;
}

.apresentacao2 h2
{
    background-color: rgb(60, 60, 206);
    color: white;
    padding: 14px 6px;
    border-radius: 10px;
    position: absolute;
    right: 1110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.escola
{
    position: absolute;
    top: 65px;
    padding: 140px;
    height: 760px;
    right: 1000px;
}

.apresentacao3 h2
{
    text-align: center;
}

.apresentacao3
{
    position: absolute;
    top: 1550px;
    background-color:rgb(60, 60, 206);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    width: 99.2vw;
    font-size: 23px;
    padding:  70px 15px;
    height: 500px;
}

.apresentacao3 p
{
    text-align: center;
    position: absolute;
    display: block;
    top: 190px;
    left: 210px;
}

footer
{
    text-align: center;
    padding: 40px;
    background-color: rgb(35, 35, 88);
    color: white;
    font-family: sans-serif;
    width: 99.2vw;
    height: 10px;
   position: absolute;
   top: 2000px;
}