*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image: url(./Atividade\ 12.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header
{
    color: white;
    background-color: rgb(35, 35, 199);
    padding: 10px;
    font-family: sans-serif;
    top: 0;
    width: 100%;
    height: 50px;;
    position: fixed;
    border: rgb(77, 77, 248) solid 2px;
    box-shadow: 0px 10px 6px rgb(29, 29, 29);
}

nav li
{
    list-style: none;
    display: inline;
    margin: 20px;
    font-size: 25px;
}

form
{

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 10px 10px 10px rgb(43, 43, 43);
    background-color: rgb(219, 207, 207);
    border: 2px solid rgb(19, 18, 18);
    border-radius: 10px;
    padding: 15px;
    width: 450px;
    margin: 10% auto;
    
}