body
{
    background-color: rgb(223, 223, 223);
}

h1
{
    text-align: center;
    font-family: 'Arial', sans-serif;
    line-height: 100px;
    text-shadow: 2px 2px 4px rgba(36, 36, 36, 0.5);
    color: rgb(0, 0, 0);
}

form
{
    background-color: rgb(167, 167, 167);
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    padding: 15px;
    margin: auto;
    width: 400px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(34, 34, 34, 0.5);
}

button
{
    border-radius: 10px;
    padding: 8px;
    box-shadow: 2px 2px 2px rgb(34, 34, 34, 0.5);   
}

button:hover
{
    background-color: rgb(1, 131, 1);
    color:rgb(1, 182, 1);
}

form label
{
    font-size: 17px;
}

form input
{
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 5px rgba(49, 49, 49, 0.5);
}