*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.texto
{
    line-height: 3;
    word-spacing: 10px;
 
}
 
.caixa
{
    background-color: gray;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 30px;
}
 
.tamanho-fixo
{
   background-color: coral;
   width: 500px;
   height: 300px;
}

.largura
{
    background-color: navy;
    min-width: 200px;
    max-width: 500px;
    width: 80%;
}

.altura
{
    background-color: crimson;
    width: 400px;
    min-height: 100px;
    max-height: 200px;
}

.overflow-x
{
    background-color: blueviolet;
    width: 300px;
    overflow-x: auto;
    white-space: nowrap;
}

.overflow-y
{
    background-color: deeppink;
    width: 300px;
    height: 100px;
    overflow-y: auto;
}

.overflow-total
{
    background-color: darkgreen;
    width: 300px;
    height: 150px;
    overflow: auto;
    white-space: nowrap;
}