.bg
{
   width:100vw;
   height: 100vh;
    background-color: coral;
    background-image: url(./22-Background.jpg);
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    background-attachment: scroll;
    background-position: right;
}